
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {

}

.top {
  background-color: #CEE5D0;
  position: relative;
}

.middle {
}

.bottom {

}
.top-cloud{
  height:150px;
  width:150px;
  padding:10px;
  position: relative;
  left:200px;

}

.bottom-cloud{
  height: 150px;
  width:150px;
  position: absolute;
  left:200px;
}
