body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top {
  background-color: #CEE5D0;
}

.middle {
  background-color: red;
  width: 200px;
  height: 200px;
}

.bottom {
  background-color: blue;
  width: 200px;
  height: 200px;
}
